<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Students</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
</head>
<body style="background-color:black ;">
    <div style=" background-color: white; margin-left: 35%;margin-top: 20%; display: inline-block; height: 60%; width: 25%;">
    <!--Andiamo a scorere l'array e stampiamo il none e l'eta-->
    <h1>Benvenuti su spotify </h1>
    <p style="margin-left: 10%;" >Inserisci il cantante che vuoi inserire</p>
<p style="margin-left: 50%;"><a href="/song">Invio</a></p>
</div>
</body>
</html>